In [1]:
import json
import pandas as pd

In [2]:
business_json_path = 'yelp_academic_dataset_business.json'
df_b = pd.read_json(business_json_path, lines=True)

In [3]:
df_b.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [4]:
df_b.shape

(150346, 14)

In [5]:
# 1 = open, 0 = closed
df_b = df_b[df_b['is_open']==1]

drop_columns = ['hours','is_open','review_count']
df_b = df_b.drop(drop_columns, axis=1)

In [6]:
business_ = df_b[df_b['categories'].str.contains(
              'Restaurant|Restaurants|food',
              case=False, na=False)]

In [7]:
business_.shape

(44594, 11)

In [8]:
df_explode = df_b.assign(categories = df_b.categories
                         .str.split(', ')).explode('categories')

df_explode.categories.value_counts()

df_explode[df_explode.categories.str.contains('RV',
                      case=True,na=False)].categories.value_counts()

RV Dealers    103
RV Repair     103
RV Parks       82
RV Rental      54
Name: categories, dtype: int64

In [10]:
pd.__version__

'1.1.3'

In [11]:
review_json_path = 'yelp_academic_dataset_review.json'

size = 1000000
review = pd.read_json(review_json_path, lines=True,
                      dtype={'review_id':str,'user_id':str,
                             'business_id':str,'stars':int,
                             'date':str,'text':str,'useful':int,
                             'funny':int,'cool':int},
                      chunksize=size)

In [12]:
chunk_list = []
for chunk_review in review:
    # Drop columns that aren't needed
    chunk_review = chunk_review.drop(['review_id','useful','funny','cool'], axis=1)
    # Renaming column name to avoid conflict with business overall star rating
    chunk_review = chunk_review.rename(columns={'stars': 'review_stars'})
    # Inner merge with edited business file so only reviews related to the business remain
    chunk_merged = pd.merge(business_, chunk_review, on='business_id', how='inner')
    # Show feedback on progress
    print(f"{chunk_merged.shape[0]} out of {size:,} related reviews")
    chunk_list.append(chunk_merged)
# After trimming down the review file, concatenate all relevant data back to one dataframe
df = pd.concat(chunk_list, ignore_index=True, join='outer', axis=0)

589820 out of 1,000,000 related reviews
593701 out of 1,000,000 related reviews
570858 out of 1,000,000 related reviews
578732 out of 1,000,000 related reviews
595538 out of 1,000,000 related reviews
589779 out of 1,000,000 related reviews
586702 out of 1,000,000 related reviews

In [13]:
csv_name = "yelp_reviews_restaurant_categories.csv"
df.to_csv(csv_name, index=False)

In [14]:
df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,attributes,categories,user_id,review_stars,text,date
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...",6_SpY41LIHZuIaiDs5FMKA,4,This is nice little Chinese bakery in the hear...,2014-05-26 01:09:53
1,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...",tCXElwhzekJEH6QJe3xs7Q,4,This is the bakery I usually go to in Chinatow...,2013-10-05 15:19:06
2,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...",WqfKtI-aGMmvbA9pPUxNQQ,5,"A delightful find in Chinatown! Very clean, an...",2013-10-25 01:34:57
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...",3-1va0IQfK-9tUMzfHWfTA,5,I ordered a graduation cake for my niece and i...,2018-05-20 17:58:57
4,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...",EouCKoDfzaVG0klEgdDvCQ,4,HK-STYLE MILK TEA: FOUR STARS\n\nNot quite su...,2013-10-25 02:31:35

In [17]:
df.city.unique()

array(['Philadelphia', 'Green Lane', 'Ashland City', 'Nashville',
       'Tampa Bay', 'Indianapolis', 'Reno', 'White House', 'Ardmore',
       'Alton', 'Edmonton', 'Bala Cynwyd', 'Tampa', 'Tucson', 'Fernley',
       'Williamstown', 'Glenolden', 'Wesley Chapel', 'Santa Barbara',
       'New Orleans', 'Camden', 'Fairview Heights', 'Wilmington',
       'Treasure Island', 'Saint Louis', 'Tarpon Springs', 'Blue Bell',
       'Brentwood', 'Woodbury', 'Brownsburg', 'Carmel', 'Greenwood',
       'Largo', 'Madison', 'Ewing', 'Aston', 'Warrington', 'Wyncote',
       'St. Louis', 'Lutz', 'Langhorne', 'King of Prussia', 'Clearwater',
       'Voorhees', 'Avon', 'Franklin', 'Meridian', 'St Albert',
       'Downingtown', 'Virginia City', 'Saint Petersburg', 'Chester',
       'Brandon', 'Exton', 'Odessa', 'Maple Shade', 'Lansdale',
       'Glenside', 'Goodlettsville', 'Narberth', 'Oldsmar', 'Bristol',
       'Glassboro', 'Spring Hill', 'Pennsville', 'Haddon Heights',
       'Goleta', 'View', 'Brookhaven', 'Noblesville', 'Metairie',
       'Norristown', 'Cherry Hill', 'Isla Vista', 'Pinellas Park',
       'Boise', 'Mount Juliet', 'Fishers', 'Buckingham', 'Saint Charles',
       'Chalmette', 'Kenner', 'High Ridge', 'Conshohocken',
       'Hernando Beach', 'Florissant', 'Newtown', 'University City',
       'Media', 'Chadds Ford', 'Woodstown', 'Plant City', 'Warminster',
       'Malvern', 'Ruskin', 'Town and Country', 'Lebanon', 'Skippack',
       'Bryn Mawr', 'Sparks', 'Springfield', 'Jennings', 'Sherwood Park',
       'Carpinteria', 'Spring City', 'Southampton', 'Riverside',
       'Lambertville', 'St Petersburg', 'Clementon', 'Godfrey', 'Marlton',
       'Yardley', 'Delran', 'Primos', 'Huntingdon Valley', 'North Wales',
       'New Port Richey', 'Creve Coeur', 'Collingdale', 'Fort Washington',
       'Hendersonville', 'Riverview', 'Ballwin', 'Cinnaminson',
       'Turnersville', 'Sicklerville', 'Doylestown', 'St Louis',
       'Westwego', 'Morrisville', 'Trenton', 'Bensalem', 'Royersford',
       'Bridgeport', 'Wayne', 'Moorestown', 'Mount Laurel Township',
       'Glen Carbon', 'Washington Crossing', 'Zionsville', 'Drexel Hill',
       'Folsom', 'Fenton', 'Eagle', 'Collegeville', 'Kimberton',
       'East Norriton', 'Jenkintown', 'West Chester', 'Dublin', 'Harahan',
       'Flourtown', 'Old Hickory', 'Palm Harbor', 'NASHVILLE', 'Seminole',
       'Pitman', 'Mullica Hill', 'Montgomeryville', 'Newtown Square',
       'Ferguson', 'Harvey', 'Gloucester Township', 'Port Richey',
       'Des Peres', 'Smyrna', 'St. Petersburg', 'Granite City',
       'Harleysville', 'Mount Laurel', 'Woolwich Twp', 'Marrero',
       'Trooper', 'Marana', 'Voorhees Township', 'Sun City Center',
       'Holiday', 'Belle Chasse', 'Washington Township', 'Dunedin',
       'Gulfport', 'Darby', 'Land O Lakes', 'Belleville', 'Gallatin',
       'Willow Grove', 'Broomall', 'La Vergne', 'Barrington',
       'Deptford Township', 'Cahokia', 'Sharon Hill', 'Sewell',
       'Chalfont', 'Whiteland', 'Hatfield', 'Antioch', 'Swedesboro',
       'Hermitage', 'Levittown', 'St Pete Beach', 'Maplewood',
       'Apollo Beach', 'Freeburg', 'Pennsauken', 'Phoenixville',
       'Eddystone', "Land O' Lakes", 'Ewing Township', 'Audubon ',
       'Greater Northdale', 'Chesterfield', 'Prospect Park',
       'Willingboro Township', 'Morton', 'Gretna', 'King Of Prussia',
       'Beaumont', 'Dover', 'St. Pete Beach', 'Elmer', 'Clearwater Beach',
       'Swansea', 'New Hope', 'Glen Mills', 'Plainfield', 'Lansdowne',
       'Arnold', 'Seffner', 'Maryland Heights', 'Brooklawn', 'Burlington',
       'Valrico', 'Glenmoore', 'Collinsville', 'Hudson', 'Kirkwood',
       'Oaks', 'Schwenksville', 'Speedway', 'Mount Ephraim', 'Abington',
       'Atco', 'Blackwood', 'Ridley Park', 'Newark', 'Penns Grove',
       'Gilbertsville', 'Mt. Juliet', 'Imperial', 'Essington', 'Arabi',
       'Zephyrhills', 'Dresher', 'Medford', 'Saint Pete Beach',
       'Claymont', 'Upper Darby', 'Shiloh', 'Gibbsboro', 'Douglassville',
       'Bordentown', 'Bellevue', 'Kennett Square', 'Secane', 'St.Ann',
       'Elverson', 'St. Albert', 'St Charles', 'Greenville', 'Westville',
       'Hatboro', 'New Castle', "O'Fallon", 'Woolwich Township',
       'Fairless Hills', 'Willingboro', 'Collingswood', 'Troy',
       'Spring House', 'Merchantville', 'Manchester', 'O Fallon',
       'Spanish Springs', 'Havertown', 'East Saint Louis', 'Glendora',
       'Wimauma', 'Lindenwold', 'Mooresville', 'Mt Juliet', 'Haddonfield',
       'McCordsville', 'Woodbury Heights', 'Trappe', 'Green Valley',
       'Shamong', 'Pottstown', 'Jefferson', 'Mt. Laurel', 'Maryville ',
       'Richboro', 'Hockessin', 'Kulpsville', 'Mount Royal',
       'Beech Grove', 'Petersburg', 'Hamilton Township',
       'Plymouth Meeting', 'Berlin', 'Paulsboro', 'Millstadt', 'Holland',
       'Sahuarita', 'Westmont', 'Trinity', 'Valley Park', 'Greenbrier',
       'Yeadon', 'Saint Ann', 'Feasterville', 'Dupo', 'Garden City',
       'Plumsteadville', 'Temple Terrace', 'Mont Clare', 'Bridgeton',
       'Audubon', 'Deptford', 'New Palestine', 'Jobstown',
       'Nashville-Davidson metropolitan government (balance)',
       'Nolensville', 'Wood River', 'NEW PORT RICHEY', 'Boyertown',
       'Perkiomenville', 'Safety Harbor', 'Tabernacle', 'Caseyville',
       'Thonotosassa', 'Vail', 'Lumberton', 'Mansfield',
       'South Cinnaminson', 'Mt Laurel', 'Elkins Park', 'Clayton',
       'Webster Groves', 'Oro Valley', 'Edwardsville',
       'Feasterville-Trevose', 'Edmundson', 'Masaryktown', 'Maple Glen',
       'Oaklyn', 'Mount Holly', 'Southport', 'St.Rose', 'Runnemede',
       'Glenn Mills', 'Paoli', 'Columbia', 'Pleasant View',
       'Madeira Beach', 'Sellersville', 'Souderton', 'Hazelwood',
       'Hainesport', 'Somerdale', 'South Pasadena', 'Chester Springs',
       'Folcroft', 'Lahaska', 'West Conshohocken', 'Mendenhall',
       'Wyndmoor', 'Berwyn', 'TAMPA', 'Berlin Township', 'West Deptford',
       'Monroe Township', 'Pennsburg', 'Mercerville', 'Verdi',
       'Rockledge', 'Linwood', 'Belle Chase', 'Quakertown', 'Twin Oaks',
       'Wynnewood', 'Indian Rocks Beach', 'New Britain', 'Frazer',
       'Palmyra', 'Sun City', "O'fallon", 'Trevose', 'Avondale',
       'Croydon', 'Coatesville', 'Maryville', 'Oreland', 'Ambler',
       'Salem', 'Thorndale', 'Lavergne', 'Bellmawr', 'St. Charles',
       'Pittsgrove Township', 'Talleyville', 'Roebling', 'Lawrence',
       'Westtown', 'Clifton Heights', 'West Berlin', 'St Louis Downtown',
       'Lemay', 'PHILA', 'Lafayette Hill', 'Boothwyn', 'Lithia',
       'Whitestown', 'Terrytown', 'Ladue', 'Westampton Township',
       'Saint Albert', 'Montecito', 'Telford', 'Lula Lula',
       'Logan Township', 'Edgewater Park', 'Columbus', 'Pike Creek',
       'Mickleton', 'Pipersville', 'Affton', 'Pontoon Beach', 'Delanco',
       'Horsham', 'Marcus Hook', 'Feasterville Trevose', 'Thorofare',
       'Maple Shade Township', 'Haddon Township', 'Carrollwood',
       'Trainer', 'Rock Hill', 'Belleair Bluffs', 'Twn N Cntry',
       'Pennington', 'Hamilton', 'Crestwood', 'Kuna', 'Town And Country',
       'NEW ORLEANS', 'West Edmonton', 'East Alton', 'Gloucester City',
       'Westampton', 'National Park', 'Perkasie', 'Unionville', 'TUCSON',
       'Clarksboro', 'Tinicum', 'Oakville', 'St Ann', 'Gibsonton',
       'Springhill', 'Abington Township', 'Magnolia', 'W.Chester',
       'Pinecrest West Park', 'Toughkenamon', 'Burlington Township',
       'Lawnside', 'Tierra Verde', 'Franklinville', 'Laurel Springs',
       'Indianapolis ', 'Pennsauken Township', 'wilmington', 'St. Davids',
       'Birchrunville', 'Joelton', 'Port Hueneme', 'Devon',
       'Mount Lemmon', 'Swarthmore', 'Eagleville', 'Charlack',
       'Breckenridge Hills', 'Rosemont', 'Waterloo', 'Boise City',
       'Ozona', 'Pittsgrove', 'Saintt Petersburg', 'Evesham Township',
       'East Nashville', 'Garnet Valley', 'Marlborough', 'Normandy',
       'Upper Chichester', 'Berry Hill', 'Ashland', 'Bethalto', 'Lester',
       'River Ridge', 'Valencia West', 'Villanova', 'Mantua', 'Holicong',
       'Newport', 'Saint John', 'Pemberton', 'Pine HIll', 'Fairview Hts.',
       'Gwynedd Valley', 'EdMonton', 'Bryn Athyn', 'Palmetto',
       'Crum Lynne', 'Pilesgrove', 'Inglewood', 'Parkside',
       'Lawrence Township', 'Haverford', 'Yardley Boro', 'Meraux',
       'Malaga', 'Southwest Tampa', 'Jamison', 'Casa Adobes',
       'WEST CHESTER', 'Titusville', 'Christiana', 'Melrose Park',
       'boise', 'Richmond Heights', 'Carneys Point', 'Sun Valley',
       'Kenneth City', 'S Pasadena', 'Beverly', 'Jeffersonville',
       'Oaklandon', 'Wyndlake Condominium', 'Holmes', "Land O'Lakes",
       'Merion Station', 'Concordville', 'RENO', 'Upper Pittsgrove',
       'lawrence', 'Bellville', 'Violet', 'Cedar Brook', 'Ivyland',
       'Hulmeville', 'Redingtn Shor', 'Southampton Township',
       'Sappington', 'Town n Country', 'Norwood', 'Overland', 'Evesham',
       'Newfield', 'Mantua Township', 'LOWER PROVIDENCE', 'San Antonio',
       'Woodlyn', 'Silverdale', 'Frontenac', 'Waggaman', 'Catalina',
       'Aldan', 'Scott Air Force Base', 'NORRISTOWN', 'Bradenton',
       'North Redington Beach', 'St Pete', 'Franconia', 'Stowe', 'Colmar',
       'Sunset Hills', 'Mt Laurel Twp, NJ', 'Gibbstown', 'Tren',
       'Skippack Village', 'West Mount Holly', 'Radnor', 'Mascoutah',
       'Indian Shores', 'Penndel', 'CLEARWATER BEACH',
       'Pennsville Township', 'Eastampton', 'Limerick', 'Beech Grove,',
       'Florence', 'Stratford', 'INDIANAPOLIS', 'Gradyville', 'erdenheim',
       'Thonosassa', 'Elk Township', 'Summerland', 'Cheltenham',
       'Danville', 'Balm', 'PHILADELPHIA', 'Earth City', 'Bethel',
       'Olivette', 'Eaux Claires', 'East St. Louis', 'Glenoldan',
       'Worcester', 'Wesley chapel', 'Zieglerville', 'Haddon Twp',
       'Reno Nevada', 'reno', 'Hammonton', 'Concord Township', 'Blvd',
       'North Redington Bch', 'Had Twp', 'Elmwood', 'East Lansdowne',
       'Yorklyn', 'clearwater', 'Cheltenham Township', 'Chesterbrook',
       'Lansdale ', 'Smithton', 'Bargersville', 'RIVERVIEW', 'CLEARWATER',
       'Green Park', 'St Petersberg', 'VC Highlands', 'indianopolis',
       'Camby', 'Pine Hill', 'St.Petersburg', 'St.Louis', 'ST LOUIS',
       'Bristol Twp', 'Kenneth', 'LANSDALE', 'Manayunk', 'Glendale',
       'Tarpon springs', 'Pineville', 'Shrewsbury', 'Kingston Springs',
       'Harrison Township', 'Bucks', 'Southwest Philadelphia',
       'Greenfield', 'Bethel Township', 'Saint Bernard', 'Cherry Hil',
       'Vincentown', 'Wrightstown', 'West Point', 'Elsmere',
       'Cold Springs', 'Washington Twp', 'MADISON', 'Riveridge', 'Tuscon',
       'Bridge City', 'Rural Hill', 'Luling', 'Saint Rose',
       'Fairview Hts', 'St. Ann', 'Wenonah', 'Eastampton Township',
       'Woolwich Twp.', 'New Whiteland', 'Boone',
       'Saint Petersburg Beach', 'Oldmans Township', 'Wanamaker',
       'Saint Peters', 'Lawrenceville', 'Bayonet Point', 'Freehold',
       "Town 'n' Country", 'Hamiltion', 'Furlong', 'Kimmswick',
       'Fairview', 'Gardenville', 'Florence Township', 'FOLSOM',
       'Gulph Mills', 'SPRINGHILL', 'Pasadena', 'ST. PETE BEACH',
       'Mehlville', 'Mt.Laurel', 'Mt.Juliet', 'sewell', 'Sassamansville',
       'Line Lexington', 'Fox Street', 'Fairview Village',
       'Medford Lakes', 'Cumberland', 'Castleton', 'Dade City',
       'South Tucson', 'Linfield', 'Bradenton Beach', 'Nampa', 'Riverton',
       'Phila', 'Erial', 'Roxana', 'Fairmont City', 'Lutz fl',
       'Pleasant Township', 'Chesilhurst', 'Wallingford', 'Virtual',
       'Sparks ', 'Barnhart', 'Eddington', 'Black Jack', 'Picture Rocks',
       'Marshallton', 'Deptford Twp', 'Waterford Works', 'Center Square',
       "O' Fallon", 'Washoe Valley', 'Bucktown', 'wimauma',
       'West Chester PA', 'Monroeville', 'Redington Shores', 'Chalemette',
       'Wilmington ', 'Lima', 'Royersford ', 'Tylersport', 'Berkeley',
       'Roxborough', 'Delran Twp', 'Algiers', 'Scott Afb', 'Upland',
       'Largo (Walsingham)', 'Sumneytown', 'Pennsylvania', 'Land o Lakes',
       'Boulevard', 'Mccordsville', 'Greater Carrollwood', 'Enoch',
       'Landsdale', 'Roslyn', 'Westchase', 'Upper Southampton',
       'Citrus Park', 'LITHIA', 'POTTSTOWN', 'LOWER MERION',
       'Town & Country', 'BRANDON', 'Warrington Township', 'TRENTON',
       'Reno ', 'Belleair Blf', 'Cottage Hills', 'Warson Woods',
       'East St Louis', 'Metarie', 'Afton', 'South Harrison Township',
       'Andalusia', 'West Bradford Township', 'Carversville', 'MEDIA',
       'St.Pete Beach', 'Red Hill', 'Pinellas', 'Stead', 'Whites Creek',
       'South Tampa', 'Fieldsboro', 'Liverpool', 'Pedricktown',
       'DONELSON', 'Goodletsville', 'Sauget', 'Metairie ', 'Sherwood',
       'Lederach', 'Corona De Tucson', 'Lower Merion', 'Washington Park',
       'Bensalem Township', 'Pine Forge', 'Newportville', 'NORTH WALES',
       'East Falls', 'Ridley', 'Bensalem. Pa', 'Bellefontaine',
       'Palm harbor', 'Upper Pottsgrove', 'W. Berlin',
       'Lower Southampton Township', 'Oldmans', 'Erdenheim',
       'Town and Country ', 'Fairland', 'Montchanin', 'Wesley Chapel ',
       'Ewing Twp', 'St Petersurg', 'West Trenton', 'Gloucester',
       'Edgmont', 'Gwynedd', 'Belle Meade', 'Corona de Tucson',
       'Riverview Fl', 'Westhampton', 'Bellefontaine Neighbors',
       'Indianapolis city (balance)', 'Saint Louis,', 'Blackwood ',
       'Plainfiled', 'Ybor City', 'PINELLAS PARK', 'Telford ',
       'LANGHORNE', 'St.Charles', 'TRINITY', 'Philly',
       'Feasterville-trevose', 'Alloway', 'Wilmington Manor',
       'Tierre Verde', 'Stanton', 'ST. PETERSBURG', 'Sanatoga',
       'Foster Pond', 'Santa  Barbara', 'Swedeland', 'Truckee',
       'West Collingswood Heights', 'Chichester', 'Lionville',
       'Tampa Palms', 'Pegram', 'Montgomery', 'Sullivan', 'St. Peters',
       'Blooming Glen', 'St Louis County', 'goodlettsville', 'Bel Ridge',
       'Richwood', 'LARGO', 'Terra Ceia', 'INpolis', 'Clarksville',
       'Delran Township', "Land O'lakes", 'Cane Ridge', 'St. Leo',
       'Hurffville', 'Kirklyn', 'West Norriton ', 'Tampa,Fl',
       'Nashville ', 'Hilltown', 'Tampa,', 'Philadelphia ',
       'Clearwater/ Countryside', 'East Boise', 'Gladwyne', 'Clermont',
       'Fallsington', 'Hi-Nella', 'TEMPLE TERR', 'RADNOR',
       'St. Louis County', 'Santa Maria', 'Pass-a-Grille Beach',
       'Hollywood', 'Cedars', 'Hernando Bch', 'WILLOW GROVE',
       'Middletown', 'Hillsborough County', 'Mt Holly',
       "Town 'N' Country", 'S.Pasadena', 'Downtown', 'Churchville',
       'Winchester', 'St.  Charles', 'Bellefonte', 'Woodbury Hts.',
       'Mount Holly,', 'Tampa Florida', 'UPPER MORELAND', 'philadelphia'],
      dtype=object)

In [23]:
df_ed = pd.read_csv('yelp_reviews_restaurant_categories.csv')

In [24]:
df_ed.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,attributes,categories,user_id,review_stars,text,date
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...",6_SpY41LIHZuIaiDs5FMKA,4,This is nice little Chinese bakery in the hear...,2014-05-26 01:09:53
1,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...",tCXElwhzekJEH6QJe3xs7Q,4,This is the bakery I usually go to in Chinatow...,2013-10-05 15:19:06
2,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...",WqfKtI-aGMmvbA9pPUxNQQ,5,"A delightful find in Chinatown! Very clean, an...",2013-10-25 01:34:57
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...",3-1va0IQfK-9tUMzfHWfTA,5,I ordered a graduation cake for my niece and i...,2018-05-20 17:58:57
4,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...",EouCKoDfzaVG0klEgdDvCQ,4,HK-STYLE MILK TEA: FOUR STARS\n\nNot quite su...,2013-10-25 02:31:35

In [25]:
df_ed.shape

(4105130, 15)

In [29]:
df_ed1 = df_ed.loc[df_ed['city']=='Edmonton']
df_ed1 = df_ed1.drop(['state'], axis = 1)
df_ed1.head()

,business_id,name,address,city,postal_code,latitude,longitude,stars,attributes,categories,user_id,review_stars,text,date
1283,JX4tUpd09YFchLBuI43lGw,Naked Cyber Cafe & Espresso Bar,10303 108 Street NW,Edmonton,T5J 1L7,53.544682,-113.506589,4.0,"{'OutdoorSeating': 'False', 'BusinessParking':...","Arts & Entertainment, Music Venues, Internet S...",xTlqpuuqtO0FWs12gd1v6A,5,Came here to print off some documents and was ...,2014-10-15 01:49:26
1284,JX4tUpd09YFchLBuI43lGw,Naked Cyber Cafe & Espresso Bar,10303 108 Street NW,Edmonton,T5J 1L7,53.544682,-113.506589,4.0,"{'OutdoorSeating': 'False', 'BusinessParking':...","Arts & Entertainment, Music Venues, Internet S...",f9lq4KAus-xCsmJmjXeKVw,3,Naked Cyber & Expresso Bar is a 24 hours cyber...,2010-01-26 21:14:29
1285,JX4tUpd09YFchLBuI43lGw,Naked Cyber Cafe & Espresso Bar,10303 108 Street NW,Edmonton,T5J 1L7,53.544682,-113.506589,4.0,"{'OutdoorSeating': 'False', 'BusinessParking':...","Arts & Entertainment, Music Venues, Internet S...",r3QexFIhBXBT99canAgVEg,4,I visited Naked for the first time this weeken...,2013-02-05 17:01:52
1286,JX4tUpd09YFchLBuI43lGw,Naked Cyber Cafe & Espresso Bar,10303 108 Street NW,Edmonton,T5J 1L7,53.544682,-113.506589,4.0,"{'OutdoorSeating': 'False', 'BusinessParking':...","Arts & Entertainment, Music Venues, Internet S...",xjafuSH_qDHXEkU0LyAxvg,4,Neat cafe! Delicious sandwiches and sweets wit...,2017-05-03 16:35:44
1287,JX4tUpd09YFchLBuI43lGw,Naked Cyber Cafe & Espresso Bar,10303 108 Street NW,Edmonton,T5J 1L7,53.544682,-113.506589,4.0,"{'OutdoorSeating': 'False', 'BusinessParking':...","Arts & Entertainment, Music Venues, Internet S...",758g6NGLp9deCbvowz62Ww,3,"Naked is a cyber-cafe, one of the first ones t...",2008-10-22 02:56:43

In [31]:
csv_name = "yelp_edmonton_reviews_restaurant_categories.csv"
df_ed1.to_csv(csv_name, index=False)